<!doctype html>
<html>
<head>
  <title>Flashcard</title>
</head>
<body class="container">

  <div class="navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Homepage</a>
      <ul class="nav navbar-nav">
        <li><a href="#">Menu 1</a></li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
    </div>
  </div>

  <div><h1>Welcome to flashcards app</h1></div>
  <div class="align-content-sm-center">
    <div class="row">
      <div class="col-sm-8">
        <div class="well">
          <p>All flashcards in the app</p>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Word</th><th>Translation</th><th>Language</th>
              </tr>
            </thead>
            <tbody>
              <tr><td>puhua</td><td>tala</td><td>finska</td></tr>
              <tr><td>kivi</td><td>sten</td><td>finska</td></tr>
              <tr><td>myös</td><td>också</td><td>finska</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
